@use 'sass:math';
$WIDTH: 300px;

.drawer {
  &Container {
    background-color: black;
    width: $WIDTH;
    height: auto;
    &Loader {
      position: fixed;
      top: 50%;
      right: math.div($WIDTH, 2);
    }
  }
}
