@use 'sass:math';
$WIDTH: 300px;

.drawer {
  &ControlsContainer {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 20px;
  }
  &Container {
    background-color: black;
    width: $WIDTH;
    height: auto;
    &Loader {
      position: fixed;
      top: 50%;
      right: math.div($WIDTH, 2);
    }
  }
}
