.container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid rgba(white, 0.1);
}

.column {
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;

  &WithBorder {
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 15px;
      right: 2px;
      top: 6px;
      background-color: rgba(white, 0.1);
    }
  }
}
