.contactWidgetContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.itemContainer {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 30px;
  gap: 5px;
}

.itemIcon {
  width: 25%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  &FooterAdaptivity {
    @media (max-width: 420px) {
      display: none;
    }
  }
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
}

.footer {
  color: rgba(white, 0.5);
  @media (max-width: 1050px) {
    font-size: 14px;
  }
}
