.itemContainer {
  width: fit-content;
  min-width: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 30px;

  @media (max-width: 300px) {
    min-width: 10;
  }
  &Short {
    min-width: fit-content;
  }
}
.unset {
  all: unset;
}

.pointer {
  cursor: pointer;
}

.itemIcon {
  width: 25%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
  @media (max-width: 550px) {
    font-size: 14px;
  }
  @media (max-width: 450px) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
