.container {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 3px;
}

.border {
  border: 1px solid rgba(white, 0.2);
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 15px;

  &Label {
    position: absolute;
    left: 5px;
    top: -16px;
    width: 90px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #0a0a0a;
  }
}
