.container {
  width: 100%;
  min-height: 80px;
  height: fit-content;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid rgba(white, 0.1);
}

.border {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 25px;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 30px;

  &Label {
    position: absolute;
    left: 5px;
    top: -19px;
    width: 90px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #0a0a0a;
  }
}
