.container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-top: 20px;

  @media (max-width: 720px) {
    padding: 10px;
    padding-top: 20px;
  }
}
