@use 'sass:math';
$WIDTH: 300px;

.drawer {
  &ControlsContainer {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 5px;
  }
  &DataContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
  }
  &Container {
    background-color: black;
    width: $WIDTH;
    height: auto;
    &Loader {
      position: fixed;
      top: 50%;
      right: math.div($WIDTH, 2);
    }
  }
}

.menuItem {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &Label {
    all: unset;
    color: #ededed;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    &Active {
      color: #e49e00;
    }
  }
}
