.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 30px - 20px - 155px);

  @media (max-width: 775px) {
    height: calc(100vh - 30px - 20px - 178px);
  }
  @media (max-width: 590px) {
    height: calc(100vh - 30px - 20px - 228px);
  }
  @media (max-width: 400px) {
    height: calc(100vh - 30px - 20px - 64px);
  }
}
