.menuItem {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-weight: 700;
  &Active {
    color: #e49e00;
  }
  &Hover {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 700;
    @media (max-width: 1110px) {
      font-size: 18px;
    }

    &:hover {
      color: #e49e00;
    }
  }
}
