.container {
  min-width: 700px;
  height: fit-content;
  @media (max-width: 710px) {
    min-width: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.header {
  &Container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &Label {
    width: fit-content;
    font-size: 20px;
    font-weight: 700;
    color: #e49e00;
    @media (max-width: 710px) {
      width: min-content;
    }
  }
}

.body {
  &Container {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    @media (max-width: 710px) {
      width: 100%;
      box-sizing: border-box;
      padding-right: 10px;
      padding-left: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    &Column {
      &First {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: 310px) {
          width: 100%;
        }
      }
      &Second {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @media (max-width: 310px) {
          width: 100%;
        }
      }
    }
  }
}

.workingSchedule {
  &Container {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  &Header {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
  }

  &Body {
    height: fit-content;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &Item {
    font-size: 16px;
    height: 30px;
    @media (max-width: 310px) {
      height: fit-content;
    }
  }
}
