.container {
  width: 400px;
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media (max-width: 420px) {
    width: fit-content;
  }
}
