.menuItem {
   width: fit-content;
   height: fit-content;
   font-size: 20px;
   font-weight: 700;
   
   &Active {
      color: #E49E00
   }
   &Hover {
      width: fit-content;
      height: fit-content;
      font-size: 20px;
      font-weight: 700;

      &:hover {
         color: #E49E00
      }
   }
}