.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  @media (max-width: 570px) {
    margin-bottom: 10px;
  }
}

.inner_container {
  max-width: 1350px;
  width: 1350px;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  @media (max-width: 1070px) {
    width: 100%;
    justify-content: space-between;
  }
}

.logoImg_container {
  max-width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.menuItems_container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;

  @media (max-width: 1070px) {
    width: 95%;
  }
}
