@import '@/shared/styles/colors.scss';

.field {
  &Container {
    width: 100%;
    height: fit-content;
    min-height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    @media (max-width: 510px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &Label {
    font-size: 16px;
    width: 340px;

    &FileField {
      width: fit-content;
    }
    span {
      white-space: nowrap;
    }
  }
}

.textField {
  &Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 5px;
  }
  &Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 5px;
    &Key {
      width: 250px;

      span {
        display: inline-block;
      }
    }
    &Value {
      width: 100%;
      text-align: center;
      span {
        display: inline-block;
      }
    }
  }
}

.fileField {
  &Container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0;
  }
  &Item {
    box-shadow: 0 0 0 0.2px $PRIMARY_GOLD;
    border-radius: 10px;
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    &Active {
      color: $PRIMARY_GOLD;
      border-color: $PRIMARY_GOLD;
      transform: scale(1.001);
      box-shadow: 0 0 8px $PRIMARY_GOLD;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    &:hover {
      color: $PRIMARY_GOLD;
      border-color: $PRIMARY_GOLD;
      transform: scale(1.001);
      box-shadow: 0 0 8px $PRIMARY_GOLD;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    span {
      display: inline-block;
      text-align: center;
    }
  }
  &Red {
    color: $ERROR_RED;
  }
}

.fileName {
  &Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &Label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
    span {
      display: inline-block;
      text-align: center;
    }
  }
  &Remove {
    all: unset;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
