.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  &Label {
    width: 150px;
    height: 30px;
    font-size: 14px;
  }
  &Field {
    width: fit-content;
    height: 30px;
    font-size: 14px;

    &Value {
      width: 200px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &WithValidFile {
        width: 80px;
      }
    }
  }
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.download {
  all: unset;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &Disabled {
    cursor: not-allowed;
  }
}
