.itemContainer {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 32px;
}
.unset {
  all: unset;
}

.pointer {
  cursor: pointer;
}

.itemIcon {
  width: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 420px) {
    width: 15px;
    margin-right: 8px;
  }
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
  @media (max-width: 540px) {
    font-size: 14px;
  }
}

.drawer {
  &Container {
    background-color: black;
    width: 300px;
    height: 100vh;
  }
}
