.btn {
  &Container {
    all: unset;
    height: auto;
    width: auto;
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
  }
  &Cross {
    color: white;
    width: 30px;
    height: auto;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      top: -8px;
      left: 10px;
      background-color: white;
      transform: rotate(45deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 15px;
      top: -8px;
      left: 10px;
      background-color: white;
      transform: rotate(-45deg);
    }
  }
  &Label {
    color: white;
    font-size: 13px;
  }
}
