.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 20px;
  margin-top: 30px;
}

.inner_container {
  max-width: 1400px;
  width: 1400px;
  height: fit-content;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;

  @media (max-width: 1050px) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
  @media (max-width: 680px) {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.logoImg_container {
  max-width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;

  @media (max-width: 1050px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 680px) {
    width: 100%;
    align-items: center;
  }
}

.logoImg_logo {
  width: fit-content;
  color: rgba(white, 0.5);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  span {
    display: inline-block;
    width: 200px;
  }
}

.baseMenu {
  &Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 30px;

    @media (max-width: 1050px) {
      height: 250px;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
    }
    @media (max-width: 680px) {
      height: 300px;
      margin-left: 0px;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
