.itemContainer {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 32px;
}
.unset {
  all: unset;
}

.pointer {
  cursor: pointer;
}

.itemIcon {
  width: 25%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
}

.drawer {
  &Container {
    background-color: black;
    width: 300px;
    height: 100vh;
  }
}
