@import '@/shared/styles/colors.scss';
@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 8px rgba(228, 158, 0, 1);
  }
  100% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }
}

.button {
  all: unset;
  border: 1px solid white;
  height: fit-content;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $PRIMARY_GOLD;
    border-color: $PRIMARY_GOLD;
    transform: scale(1.001);
    box-shadow: 0 0 8px $PRIMARY_GOLD;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulseBorder 2s infinite;
  }

  &OrderPrinting {
    &Container {
      width: 300px;
      height: 35px;
      margin-right: 30px;
      @media (max-width: 560px) {
        margin-right: 0;
      }
      @media (max-width: 350px) {
        width: 90%;
      }
      @media (max-width: 290px) {
        font-size: 16px;
      }
    }
  }
}
