.container {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  flex: 1;
  overflow-y: scroll;
  position: relative;
  &Row {
    all: unset;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      border-top: 1px solid rgba(white, 0.1);
      border-bottom: 1px solid rgba(white, 0.1);
    }
  }
  &Loader {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
}
