.btn {
  &Container {
    all: unset;
    height: auto;
    width: auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.rotate {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
