.form {
  &Container {
    width: 100%;
    position: relative;
    &Loader {
      position: absolute;
      top: 45%;
      left: 44%;
    }
  }
  &Head {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    span {
      color: #e49e00;
      font-size: 20px;
    }
  }
  &Body {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
  }
  &Footer {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
