.form {
  &Container {
    width: 100%;
    position: relative;
    &Loader {
      position: absolute;
      top: 45%;
      left: 44%;
    }
  }
  &Head {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    span {
      color: #e49e00;
      font-size: 20px;
    }
    &NotAuth {
      font-size: 16px;
    }
  }
  &Body {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    padding-bottom: 0;

    &Errors {
      height: 15px;
      width: 80%;
      align-self: center;
      & > span {
        font-size: 10px;
      }
    }
  }
  &Footer {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

span.formHeadNotAuth {
  font-size: 18px;
}
