.container {
  width: 900px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
}

.item {
  color: #e49e00;
  font-size: 35px;
  font-weight: bold;
  width: fit-content;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}
