.contactWidgetContainer {
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

}

.itemContainer {
   width: fit-content;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   height: 30px;
}

.itemIcon {
   width: 25%;
   margin-right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.itemLabel {
   font-size: 16px;
   width: 100%;
}