@import '@/shared/styles/colors.scss';
.container {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &Disabled {
    cursor: not-allowed;
  }
  &Inner {
    all: unset;
    width: 40px;
    border: 1px solid $WHITE_BORDER;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;

    &Disabled {
      color: $WHITE_BORDER;
    }
  }
}
