.container {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  border-right: 1px solid rgba(white, 0.1);
  border-left: 1px solid rgba(white, 0.1);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  &Row {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.cell {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
}
