.card {
  &Container {
    width: 280px;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 4px;
    span {
      color: white;
    }
  }
  &Item {
    &Conatainer {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }
    &Label {
      font-size: 13px;
      color: white;
    }
    &Value {
      font-size: 13px;
      color: white;
      width: 100px;
    }
  }
}
