@import '@/shared/styles/colors.scss';

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1070px) {
    box-sizing: border-box;
    font-size: 35px;
    color: $PRIMARY_GOLD;
  }
  @media (max-width: 630px) {
    font-size: 30px;
  }
  @media (max-width: 590px) {
    font-size: 25px;
  }
  @media (max-width: 530px) {
    font-size: 20px;
  }
}
