.unauthorized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: #0e0e0e; // можно изменить под стиль проекта
  color: #fff;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    opacity: 0.85;
  }
}
