@import '@/shared/styles/colors.scss';

.unauthorized {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: $ALMOST_BLACK;
  color: $WHITE;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    opacity: 0.85;
  }
  a > p {
    color: $BRIGHT_ORANGE;
  }
}
