.container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 1050px) {
    width: fit-content;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  @media (max-width: 650px) {
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    height: 25px;
  }
}

.body {
  &Menu {
    &Container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      height: fit-content;
      width: fit-content;
      min-height: 100px;
      min-width: 250px;

      @media (max-width: 1050px) {
        width: fit-content;
        min-width: fit-content;
        box-sizing: border-box;
        padding: 20px;
      }
    }
    &Item {
      height: 30px;
      font-size: 14px;
      font-weight: 400;
      color: rgba(white, 0.5);
      box-sizing: border-box;
      padding-left: 55px;
      @media (max-width: 1050px) {
        padding-left: 0;
      }
    }
  }
  &Contacts {
    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: fit-content;
      min-height: 100px;
      min-width: 250px;

      @media (max-width: 1050px) {
        width: fit-content;
        min-width: fit-content;
        box-sizing: border-box;
        padding: 20px;
      }
    }
  }
  &Socials {
    &Container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: fit-content;
      min-height: 100px;
      min-width: 250px;

      @media (max-width: 1050px) {
        width: fit-content;
        min-width: fit-content;
        box-sizing: border-box;
        padding: 20px;
      }
    }
    &Item {
      width: 50px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: radial-gradient(
        circle,
        rgba(white, 0.5) 0px,
        rgba(white, 0.5) 20px,
        rgba(black, 0.1) 25px,
        rgba(black, 0.1) 100%
      );
      &Link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background: radial-gradient(
          circle,
          rgba(rgb(0, 238, 255), 0.8) 8px,
          rgba(rgb(0, 238, 255), 0.85) 12px,
          rgba(rgb(0, 238, 255), 0.9) 15px,
          rgba(rgb(0, 238, 255), 1) 18px,
          rgba(rgb(0, 238, 255), 1) 20px,
          rgba(black, 0.1) 25px,
          rgba(rgb(0, 0, 0), 0.1) 100%
        );
      }
    }
  }
}
