.layout {
   &Container {
      width: 100%;
      box-sizing: border-box;
   }

   &Header {
      background-image: url('/photos/3d_printing/1.png');
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 450px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

.page {
   &Container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
   }
   &MainLabel {
      color: rgba(#E49E00, 0.8);
      font-size: 160px;
      width: 900px;
      grid-column-start: second;
      grid-column-end: end;
      grid-row-start: r-second;
      grid-row-end: r-second;

      &Container {
         background-image: url('/photos/3d_printing/1.png');
         background-size: cover;
         background-position: bottom;
         background-repeat: no-repeat;
         width: 100%;
         height: 450px;
         color: black;
         display: grid;
         grid-template-columns: [first] minmax(10px, 400px) [second] 1fr [end];
         grid-template-rows: [r-first] 60px [r-second] 170px [r-third] 70px [r-fourth] 70px [r-end];
      }
   }
   &SubLabel {
      &One {
         color: rgba(white, 0.9);
         font-size: 60px;
         grid-column-start: second;
         grid-column-end: end;
         grid-row-start: r-third;
         grid-row-end: r-third;
      }
      &Two {
         color: rgba(white, 0.9);
         font-size: 60px;
         grid-column-start: second;
         grid-column-end: end;
         grid-row-start: r-fourth;
         grid-row-end: r-fourth;
      }

   }
}