@use 'sass:math';
@import '@/shared/styles/colors.scss';

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 4px rgba($PRIMARY_GOLD, 0.5);
  }

  50% {
    box-shadow: 0 0 8px rgba($PRIMARY_GOLD, 1);
  }

  100% {
    box-shadow: 0 0 4px rgba($PRIMARY_GOLD, 0.5);
  }
}
@keyframes pulseBorderWithError {
  0% {
    box-shadow: 0 0 4px rgba($ERROR_RED, 0.5);
  }

  50% {
    box-shadow: 0 0 8px rgba($ERROR_RED, 1);
  }

  100% {
    box-shadow: 0 0 4px rgba($ERROR_RED, 0.5);
  }
}
$WIDTH: 800px;

.orderForm {
  max-width: $WIDTH;
  width: $WIDTH;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid $PRIMARY_GOLD;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  background-color: $DARK_BG;

  @media (max-width: 820px) and (max-height: 900px) {
    overflow-y: scroll;
    max-height: 100%;
  }
  @media (max-width: 820px) {
    width: 100%;
    padding: 20px;
  }
  &Loader {
    position: absolute;
    top: 50% - 5;
    left: math.div($WIDTH - 40, 2);
  }
  &Container {
    width: 100%;
    color: $WHITE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 820px) {
      width: 100%;
    }

    @media (max-width: 820px) and (max-height: 900px) {
      max-height: 100%;
    }
  }
  &HeaderLabel {
    align-self: center;
    color: $WHITE;
    font-size: 22px;
    font-weight: bold;
    height: 24px;
    margin-bottom: 10px;
  }
}

.formGroup {
  display: grid;
  width: 100%;
  gap: 15px 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 80px);
  @media (max-width: 820px) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}

@mixin grid-position($index) {
  $col: if($index % 2 == 0, 2, 1);
  $row: math.ceil(math.div($index, 2));

  grid-column: #{$col};
  grid-row: #{$row};
  @media (max-width: 820px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
  }
}

@for $i from 1 through 10 {
  .gridItem#{$i} {
    @include grid-position($i);
  }
}

.inputField {
  all: unset;
  width: 100%;
  height: 40px;
  background-color: $BLACK;
  border: 2px solid $WHITE;
  padding: 5px;
  color: $WHITE;
  font-size: 16px;
  transition: all 0.2s ease;
  margin-bottom: 10px;
  box-sizing: border-box;
  @media (max-width: 820px) {
    width: 100%;
  }
  &:focus {
    border-color: $PRIMARY_GOLD;
    box-shadow: 0 0 8px $PRIMARY_GOLD;
    animation: pulseBorder 2s infinite;
  }

  &::placeholder {
    color: rgba($WHITE, 0.5);
  }
  &WithError {
    border: 2px solid $ERROR_RED;
    &:focus {
      border-color: $ERROR_RED;
      box-shadow: 0 0 8px $ERROR_RED;
      animation: pulseBorderWithError 2s infinite;
    }
  }
}

.textareaField {
  all: unset;
  box-sizing: border-box;
  background-color: $BLACK;
  border: 2px solid $WHITE;
  color: $WHITE;
  padding: 12px;
  font-size: 16px;
  transition: 0.2s ease;
  min-height: 90px;
  width: 100%;
  @media (max-width: 820px) {
    width: 100%;
  }
  &:focus {
    border-color: $PRIMARY_GOLD;
    box-shadow: 0 0 8px $PRIMARY_GOLD;
    animation: pulseBorder 2s infinite;
  }
}

.inputSelectField {
  all: unset;
  background-color: $BLACK;
  border: 2px solid $WHITE;
  color: $WHITE;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  transition: 0.2s ease;
  box-sizing: border-box;
  @media (max-width: 820px) {
    width: 100%;
  }
  &:focus {
    border-color: $PRIMARY_GOLD;
    box-shadow: 0 0 8px $PRIMARY_GOLD;
    animation: pulseBorder 2s infinite;
  }
}
.submitBtn {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: 2px solid $WHITE;
  background-color: $BLACK;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $WHITE;
  grid-column: 1 / span 2;
  grid-row: 6;
  align-self: center;
  box-sizing: border-box;
  @media (max-width: 820px) {
    width: 100%;
  }
  &:hover {
    color: $PRIMARY_GOLD;
    border-color: $PRIMARY_GOLD;
    transform: scale(1.001);
    box-shadow: 0 0 8px $PRIMARY_GOLD;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulseBorder 2s infinite;
  }

  &:active {
    transform: scale(0.98);
    box-shadow: 0 0 10px $PRIMARY_GOLD;
  }
}

.makeOrderBtnLabel {
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 8px rgba($PRIMARY_GOLD, 0.4);
}

.label {
  color: $WHITE;
  font-weight: 600;
  margin-bottom: 4px;
}

.required {
  color: $PRIMARY_GOLD;
  margin-left: 4px;
}

.colorPicker {
  width: 100%;
  height: 42px;
  border: 1px solid $WHITE;
  cursor: pointer;
  box-sizing: border-box;
  @media (max-width: 820px) {
    width: 100%;
  }
}

.errorMessage {
  font-size: 12px;
  color: $PRIMARY_GOLD;
  line-height: 14px;
}
