@import '@/shared/styles/colors.scss';
.container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid $WHITE_BORDER;
  gap: 5px;
}
