@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 8px rgba(228, 158, 0, 1);
  }
  100% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }
}
.container {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.button {
  all: unset;
  border: 1px solid white;
  height: fit-content;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #e49e00;
    border-color: #e49e00;
    transform: scale(1.001);
    box-shadow: 0 0 8px #e49e00;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    animation: pulseBorder 2s infinite;
  }

  &OrderModeling {
    &Container {
      width: 300px;
      height: 35px;
      margin-right: 30px;
      @media (max-width: 560px) {
        margin-right: 0;
      }
      @media (max-width: 350px) {
        width: 90%;
      }
      @media (max-width: 290px) {
        font-size: 16px;
      }
    }
  }

  &OrderConsulting {
    &Container {
      width: 300px;
      height: 35px;
    }
  }
  &Disabled {
    border: 1px solid grey;
    color: grey;
    cursor: not-allowed;
    &:hover {
      color: grey;
      border-color: grey;
      transform: scale(1.001);
      box-shadow: 0 0 8px grey;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }
  }
}
