// 1. Used only in globals.css
$DARK_GREY: #171717;
$LIGHT_GREY: #ededed;

// 2. Used in globals.css and other style files
$WHITE: #ffffff;
$DARK_BG: #0a0a0a;

// 3. Used only in other style files
$PRIMARY_GOLD: #e49e00;
$BRIGHT_ORANGE: #ff6b00;
$BLACK: #000000;
