$WIDTH: 100%;

.drawer {
  &ControlsContainer {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 20px;
    border: 1px solid rgba(white, 0.1);
  }
  &FiltersContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 30px;
    color: white;
    border-bottom: 1px solid rgba(white, 0.1);
    border-right: 1px solid rgba(white, 0.1);
    border-left: 1px solid rgba(white, 0.1);

    @media (max-width: 590px) {
      height: fit-content;
    }
  }
  &Container {
    background-color: black;
    width: $WIDTH;
    height: auto;
  }
}
