@import '@/shared/styles/colors.scss';

$WINDTH: 15px;
$HEIGHT: 2px;
$RIGHT: 2px;
$TOP: 10px;

.container {
  all: unset;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $DARK_BG;

  &Cross {
    width: 100%;
    height: 100%;
    cursor: pointer;
    &::after {
      content: '';
      position: absolute;
      width: $WINDTH;
      height: $HEIGHT;
      top: $TOP;
      right: $RIGHT;
      background-color: rgba($WHITE, 0.5);
      transform: rotate(45deg);
    }
    &::before {
      content: '';
      position: absolute;
      width: $WINDTH;
      height: $HEIGHT;
      top: $TOP;
      right: $RIGHT;
      background-color: rgba($WHITE, 0.5);
      transform: rotate(-45deg);
    }
    &Disabled {
      cursor: not-allowed;
      &::after {
        background-color: $WHITE_BORDER;
      }
      &::before {
        background-color: $WHITE_BORDER;
      }
    }
    &:hover {
      &::after {
        background-color: rgba($WHITE, 0.8);
      }
      &::before {
        background-color: rgba($WHITE, 0.8);
      }
    }
  }
}
