.menuItem {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  font-weight: 700;

  &Active {
    color: #e49e00;
  }
  &Hover {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      color: #e49e00;
    }
  }
}
