.field {
  &Container {
    width: 100%;
    height: fit-content;
    min-height: 40px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  &Label {
    font-size: 16px;
    width: 100%;
    min-width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    min-height: 36px;
    &FileField {
      width: fit-content;
    }
    span {
      white-space: nowrap;
    }
  }
}

.checkbox {
  &Container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-right: 20px;
    &Label {
      width: 40px;
      font-size: 16px;

      button {
        all: unset;
        cursor: pointer;

        &:hover {
          all: unset;
        }
      }
    }
    &Check {
      background-color: black;
      width: 35px;
      height: 35px;
      border: 2px solid #e49e00;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &:hover {
        color: #e49e00;
        border-color: #e49e00;
        transform: scale(1.001);
        box-shadow: 0 0 8px #e49e00;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        animation: pulseBorder 2s infinite;
      }
    }
  }
}

.textField {
  &Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 5px;
  }
  &Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 5px;
    &Key {
      width: 250px;

      span {
        display: inline-block;
      }
    }
    &Value {
      width: 100%;
      text-align: center;
      span {
        display: inline-block;
      }
    }
  }
}

.inputNumber {
  &Container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    border: 2px solid #e49e00;
    box-sizing: border-box;
    padding-right: 4px;
    padding-left: 4px;

    &:hover {
      color: #e49e00;
      border-color: #e49e00;
      transform: scale(1.001);
      box-shadow: 0 0 8px #e49e00;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    input {
      all: unset;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.inputText {
  &Container {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    border: 2px solid #e49e00;
    padding-right: 4px;
    padding-left: 4px;

    &:hover {
      color: #e49e00;
      border-color: #e49e00;
      transform: scale(1.001);
      box-shadow: 0 0 8px #e49e00;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }
    input {
      all: unset;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

.inputSelector {
  &Container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    border: 2px solid #e49e00;
    box-sizing: border-box;
    padding-right: 5px;
    padding-left: 5px;

    &:hover {
      color: #e49e00;
      border-color: #e49e00;
      transform: scale(1.001);
      box-shadow: 0 0 8px #e49e00;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    &Select {
      all: unset;
      width: 100%;
      height: 100%;
      background-color: transparent;
      font-size: 16px;
      transition: all 0.2s ease;
      display: flex;
      flex-direction: row;
      align-items: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      option {
        background-color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
    }
  }
}

.fileField {
  &Container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0;
  }
  &Item {
    box-shadow: 0 0 0 0.2px #e49e00;
    border-radius: 10px;
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    &Active {
      color: #e49e00;
      border-color: #e49e00;
      transform: scale(1.001);
      box-shadow: 0 0 8px #e49e00;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    &:hover {
      color: #e49e00;
      border-color: #e49e00;
      transform: scale(1.001);
      box-shadow: 0 0 8px #e49e00;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      animation: pulseBorder 2s infinite;
    }

    span {
      display: inline-block;
      text-align: center;
    }
  }
}

.fileName {
  &Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &Label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    span {
      display: inline-block;
      text-align: center;
    }
  }
  &Remove {
    all: unset;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
