@import '@/shared/styles/colors.scss';
.container {
  width: 100%;
  overflow-y: auto;
  border-right: 1px solid $WHITE_BORDER;
  border-left: 1px solid $WHITE_BORDER;
  height: calc(100vh - 30px - 20px - 155px - 60px);

  @media (max-width: 775px) {
    height: calc(100vh - 30px - 20px - 178px - 60px);
  }
  @media (max-width: 590px) {
    height: calc(100vh - 30px - 20px - 228px - 60px);
  }
  @media (max-width: 400px) {
    height: calc(100vh - 30px - 20px - 64px - 60px);
  }
}
