@import '@/shared/styles/colors.scss';

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 4px rgba($PRIMARY_GOLD, 0.5);
  }

  50% {
    box-shadow: 0 0 8px rgba($PRIMARY_GOLD, 1);
  }

  100% {
    box-shadow: 0 0 4px rgba($PRIMARY_GOLD, 0.5);
  }
}

.benefits {
  &Container {
    margin-top: 40px;
    width: 100%;
    color: $WHITE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &MainLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 50px;
    margin-bottom: 30px;

    @media (max-width: 900px) {
      font-size: 20px;
      box-sizing: border-box;
      padding: 20px;
    }
  }

  &StepsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;

    @media (max-width: 950px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
    }
  }

  &Step {
    &Container {
      border: 1px solid red;
      width: 200px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 20px;
      margin-right: 30px;
      box-sizing: border-box;
      padding: 15px;

      box-shadow: inset 0px 1px 0px 0px $BLACK;
      background: linear-gradient(
        to bottom,
        $BLACK 5%,
        rgba($PRIMARY_GOLD, 0.5) 100%
      );
      background-color: $BLACK;
      border-radius: 6px;
      border: 1px solid $PRIMARY_GOLD;
      display: inline-block;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px $PRIMARY_GOLD;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        animation: pulseBorder 2s infinite;
      }
      @media (max-width: 950px) {
        width: 90%;
        height: 65px;
        margin-right: 0;
      }
    }

    &Header {
      font-weight: bold;
      color: rgba($PRIMARY_GOLD, 0.7);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;
      height: 40px;
    }

    &Body {
      font-weight: 400;
      color: rgba($PRIMARY_GOLD, 0.7);
      font-size: 16px;
      @media (max-width: 950px) {
        display: none;
      }
    }
  }
}
