@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }

  50% {
    box-shadow: 0 0 8px rgba(228, 158, 0, 1);
  }

  100% {
    box-shadow: 0 0 4px rgba(228, 158, 0, 0.5);
  }
}

.makeOrder {
  &Container {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &MainLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 50px;
    @media (max-width: 1090px) {
      font-size: 28px;
      box-sizing: border-box;
      padding: 15px;
      margin-bottom: 30px;
    }
    @media (max-width: 950px) {
      font-size: 24px;
      margin-bottom: 20px;
    }
    @media (max-width: 840px) {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  &StepsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    @media (max-width: 840px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
    }
  }

  &Step {
    &Container {
      border: 1px solid red;
      width: 220px;
      height: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 20px;
      margin-right: 30px;
      box-sizing: border-box;
      padding: 15px;

      box-shadow: inset 0px 1px 0px 0px #000000;
      background: linear-gradient(
        to bottom,
        #000000 5%,
        rgba(#e49e00, 0.5) 100%
      );
      background-color: #000000;
      border-radius: 6px;
      border: 1px solid #e49e00;
      display: inline-block;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 8px #e49e00;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        animation: pulseBorder 2s infinite;
      }
      @media (max-width: 1090px) {
        height: 200px;
        margin-right: 0;
      }
      @media (max-width: 950px) {
        height: 150px;
        padding: 10px;
      }
      @media (max-width: 840px) {
        height: 60px;
        width: 90%;
        overflow: hidden;
      }
    }

    &Header {
      font-weight: bold;
      color: rgba(#e49e00, 0.7);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 30px;
      height: 80px;
      @media (max-width: 1090px) {
        font-size: 15px;
        height: 60px;
      }
      @media (max-width: 950px) {
        font-size: 13px;
        height: 40px;
      }
      @media (max-width: 840px) {
        font-size: 20px;
        height: fit-content;
      }
    }

    &Body {
      font-weight: 400;
      color: rgba(white, 0.7);
      font-size: 16px;
      @media (max-width: 1090px) {
        font-size: 13px;
      }
      @media (max-width: 950px) {
        font-size: 10px;
      }
      @media (max-width: 840px) {
        display: none;
      }
    }
  }
}
