@import '@/shared/styles/colors.scss';

.form {
  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    @media (max-width: 420px) {
      width: 100%;
    }
  }
  &Head {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    @media (max-width: 420px) {
      width: 70%;
    }
    span {
      color: $PRIMARY_GOLD;
      font-size: 20px;
      @media (max-width: 420px) {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  &Body {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    padding-bottom: 0px;
  }
  &PasswordRules {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    & span {
      font-size: 10px;
    }
  }
  &Footer {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
