@import '@/shared/styles/colors.scss';
.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $WHITE_BORDER;
  &View {
    width: 100%;
    height: 800px;
    position: relative;
    &Loader {
      position: absolute;
      top: calc(190px / 2 - 5px);
      right: 185px;
    }
  }
}

.suspenseFallback {
  font-size: 13px;
}
