@import '@/shared/styles/colors.scss';

.container {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &Select {
    all: unset;
    width: 40px;
    border: 1px solid $WHITE_BORDER;
    box-sizing: border-box;
    padding-left: 10px;
    user-select: none;
    option {
      background-color: $DARK_BG;
    }
  }
}
