@import '@/shared/styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  &Select {
    background-color: $DARK_BG;
    border: 1px solid $WHITE_BORDER;
    height: 24px;
    padding-left: 3px;
  }
}

.btn {
  all: unset;
  width: 30px;
  border: 1px solid $WHITE_BORDER;
  display: flex;
  justify-content: center;
  align-items: center;
  &Save {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    &Disabled {
      cursor: not-allowed;
    }
  }
  &Restore {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    &Disabled {
      cursor: not-allowed;
    }
  }
}
