@import '@/shared/styles/colors.scss';

.container {
  width: 900px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  @media (max-width: 820px) {
    width: 95%;
    gap: 15px;
    height: 32px;
    overflow: hidden;
  }
  @media (max-width: 680px) {
    height: 29px;
  }
  @media (max-width: 580px) {
    height: 26px;
  }
  @media (max-width: 480px) {
    height: 23px;
  }
  @media (max-width: 400px) {
    height: 20px;
  }
}

.item {
  color: $PRIMARY_GOLD;
  font-size: 35px;
  font-weight: bold;
  width: fit-content;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
  @media (max-width: 820px) {
    padding-left: 0;
    padding-right: 0;
    font-size: 32px;
  }
  @media (max-width: 680px) {
    font-size: 29px;
  }
  @media (max-width: 580px) {
    font-size: 26px;
  }
  @media (max-width: 480px) {
    font-size: 23px;
  }
  @media (max-width: 400px) {
    font-size: 20px;
  }
}
