.container {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &Disabled {
    cursor: not-allowed;
  }

  &Inner {
    all: unset;
    width: 40px;
    border: 1px solid rgba(white, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    &Disabled {
      color: rgba(white, 0.1);
    }
  }
}
