.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(white, 0.1);
  &View {
    width: 100%;
    height: 190px;
  }
  &Controls {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(green, 0.1);
  }
}
