.container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  box-sizing: border-box;
  padding: 3px;
  @media (max-width: 550px) {
    gap: 10px;
  }
}
