.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  &Label {
    width: 150px;
    height: 30px;
    font-size: 14px;
    @media (max-width: 440px) {
      font-size: 12px;
    }
  }
  &Field {
    width: fit-content;
    height: 30px;
    font-size: 14px;
    @media (max-width: 440px) {
      font-size: 12px;
    }
  }
}
