@import '@/shared/styles/colors.scss';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  &Input {
    background-color: $DARK_BG;
    border: 1px solid $WHITE_BORDER;
    height: 24px;
    padding-left: 3px;
    width: 90px;
  }
}

.btn {
  all: unset;
  width: 30px;
  border: 1px solid $WHITE_BORDER;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    cursor: not-allowed;
  }
  &Calculate {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Approve {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &Refresh {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
