.itemContainer {
  width: fit-content;
  min-width: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 30px;

  @media (max-width: 420px) {
    min-width: fit-content;
    margin-right: 20px;
  }
  &Short {
    min-width: fit-content;
  }
}
.unset {
  all: unset;
}

.pointer {
  cursor: pointer;
}

.itemIcon {
  width: 15px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 420px) {
    width: 15px;
    margin-right: 8px;
  }
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
  @media (max-width: 540px) {
    font-size: 14px;
  }
}
