.itemContainer {
  width: fit-content;
  min-width: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 30px;
}
.unset {
  all: unset;
}

.pointer {
  cursor: pointer;
}

.itemIcon {
  width: 25%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemLabel {
  font-size: 16px;
  span {
    white-space: nowrap;
  }
}
