.card {
  &Container {
    width: 280px;
    border: 1px solid white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    span {
      color: white;
    }
  }
  &Header {
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
    padding: 4px;
    span {
      color: black;
      font-size: 13px;
      font-weight: 700;
    }
    &RemoveBtn {
      all: unset;
      height: 16px;
      width: 16px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  &Item {
    &Conatainer {
      height: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      box-sizing: border-box;
      padding: 4px;
    }
    &Label {
      font-size: 13px;
      color: white;
    }
    &Value {
      font-size: 13px;
      color: white;
      width: 100px;
    }
  }
}
