.container {
  width: 150px;
  height: 25px;
  box-sizing: border-box;
  position: relative;

  &Label {
    position: absolute;
    left: 2px;
    top: -25px;
    width: fit-content;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 13px;

    &Disabled {
      color: rgba(white, 0.1);
    }
  }
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(white, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  select {
    all: unset;
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
  }
  &Disabled {
    cursor: not-allowed;
    color: rgba(white, 0.1);
  }
}
