name: Workflow
on: [push]

jobs:
  first-command:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Set up node.jobs
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: npm ci
        run: npm ci
      - name: run tests
        run: npm run test
