@import '@/shared/styles/colors.scss';
.filters {
  &Button {
    all: unset;
    width: 100%;
    height: 30px;
    border: 1px solid $WHITE_BORDER;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
